**Análise de dados com Python e Pandas**
- Está códificação é para o Bootcamp da Unimed-BH e DIO.

In [ ]:
# Importar biblioteca Pandas e renomeia para "pd"
import pandas as pd

In [ ]:
# Ler um conjunto de dados df = DataFrame
# read_csv Ler arquivo em "csv" 
# Caso der erro em alguma linha pode usar um paramento error_bad_line=False, pois ele é True por default
# Posso usar a função "sep=';' caso os dados do CSV venha errado pois muitos dados são separados por ';'
# df = pd.read_csv("/content/sample_data/california_housing_test.csv", error_bad_lines=False, sep=';')
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
# Exibir parte dos dados, neste caso os 5 primeiros dados armazenados no DF
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
# Editar nome da colunas
df = df.rename(columns={'longitude': 'Longitude', 'latitude': 'Latitude', 'housing_median_age':'Idade Média', 
                   'total_rooms':'Total de salas', 'total_bedrooms':'Total de quartos', 'population':'População', 
                   'households':'Famílias', 'median_income':'Renda Média', 'median_house_value':'Renda média da família'
                   })

In [ ]:
# Exibir uma quantidade especifica de dados colocar o valor desejado entre os parentes ()
df.head(10)

,Longitude,Latitude,Idade Média,Total de salas,Total de quartos,População,Famílias,Renda Média,Renda média da família
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0

In [ ]:
# Exibir a quantidade de linhas e colunas no arquivos 
df.shape

(17000, 9)

In [ ]:
# Exibir os nomes das colunas
df.columns

Index(['Longitude', 'Latitude', 'Idade Média', 'Total de salas',
       'Total de quartos', 'População', 'Famílias', 'Renda Média',
       'Renda média da família'],
      dtype='object')

In [ ]:
# Exibir tipos de dados das colunas
df.dtypes

Longitude                 float64
Latitude                  float64
Idade Média               float64
Total de salas            float64
Total de quartos          float64
População                 float64
Famílias                  float64
Renda Média               float64
Renda média da família    float64
dtype: object

In [ ]:
# Exibir as ultimas linas do documento
df.tail()

,Longitude,Latitude,Idade Média,Total de salas,Total de quartos,População,Famílias,Renda Média,Renda média da família
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
# Exibir estatiscas dos dados
df.describe()

,Longitude,Latitude,Idade Média,Total de salas,Total de quartos,População,Famílias,Renda Média,Renda média da família
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
# Exibir todos os valores unicos, pode ser usado para buscar os valores de continente, paises ou estados por exemplo
df['Longitude'].unique()

array([-114.31, -114.47, -114.56, -114.57, -114.58, -114.59, -114.6 ,
       -114.61, -114.63, -114.65, -114.66, -114.67, -114.68, -114.73,
       -114.94, -114.98, -115.22, -115.32, -115.37, -115.38, -115.39,
       -115.4 , -115.41, -115.46, -115.48, -115.49, -115.5 , -115.51,
       -115.52, -115.53, -115.54, -115.55, -115.56, -115.57, -115.58,
       -115.59, -115.6 , -115.62, -115.64, -115.69, -115.72, -115.73,
       -115.8 , -115.84, -115.85, -115.88, -115.9 , -115.91, -115.93,
       -115.94, -115.95, -115.96, -115.98, -115.99, -116.  , -116.01,
       -116.02, -116.05, -116.06, -116.08, -116.09, -116.11, -116.12,
       -116.14, -116.15, -116.16, -116.17, -116.18, -116.19, -116.2 ,
       -116.21, -116.22, -116.23, -116.24, -116.25, -116.26, -116.27,
       -116.29, -116.3 , -116.31, -116.32, -116.33, -116.34, -116.35,
       -116.36, -116.37, -116.38, -116.39, -116.4 , -116.41, -116.42,
       -116.43, -116.44, -116.45, -116.46, -116.47, -116.48, -116.49,
       -116.5 , -116.51, -116.52, -116.53, -116.54, -116.55, -116.56,
       -116.57, -116.58, -116.6 , -116.61, -116.62, -116.66, -116.67,
       -116.68, -116.71, -116.72, -116.74, -116.75, -116.76, -116.77,
       -116.78, -116.79, -116.8 , -116.82, -116.83, -116.84, -116.85,
       -116.86, -116.87, -116.88, -116.89, -116.9 , -116.91, -116.92,
       -116.93, -116.94, -116.95, -116.96, -116.97, -116.98, -116.99,
       -117.  , -117.01, -117.02, -117.03, -117.04, -117.05, -117.06,
       -117.07, -117.08, -117.09, -117.1 , -117.11, -117.12, -117.13,
       -117.14, -117.15, -117.16, -117.17, -117.18, -117.19, -117.2 ,
       -117.21, -117.22, -117.23, -117.24, -117.25, -117.26, -117.27,
       -117.28, -117.29, -117.3 , -117.31, -117.32, -117.33, -117.34,
       -117.35, -117.36, -117.37, -117.38, -117.39, -117.4 , -117.41,
       -117.42, -117.43, -117.44, -117.45, -117.46, -117.47, -117.48,
       -117.49, -117.5 , -117.51, -117.52, -117.53, -117.54, -117.55,
       -117.56, -117.57, -117.58, -117.59, -117.6 , -117.61, -117.62,
       -117.63, -117.64, -117.65, -117.66, -117.67, -117.68, -117.69,
       -117.7 , -117.71, -117.72, -117.73, -117.74, -117.75, -117.76,
       -117.77, -117.78, -117.79, -117.8 , -117.81, -117.82, -117.83,
       -117.84, -117.85, -117.86, -117.87, -117.88, -117.89, -117.9 ,
       -117.91, -117.92, -117.93, -117.94, -117.95, -117.96, -117.97,
       -117.98, -117.99, -118.  , -118.01, -118.02, -118.03, -118.04,
       -118.05, -118.06, -118.07, -118.08, -118.09, -118.1 , -118.11,
       -118.12, -118.13, -118.14, -118.15, -118.16, -118.17, -118.18,
       -118.19, -118.2 , -118.21, -118.22, -118.23, -118.24, -118.25,
       -118.26, -118.27, -118.28, -118.29, -118.3 , -118.31, -118.32,
       -118.33, -118.34, -118.35, -118.36, -118.37, -118.38, -118.39,
       -118.4 , -118.41, -118.42, -118.43, -118.44, -118.45, -118.46,
       -118.47, -118.48, -118.49, -118.5 , -118.51, -118.52, -118.53,
       -118.54, -118.55, -118.56, -118.57, -118.58, -118.59, -118.6 ,
       -118.61, -118.62, -118.63, -118.64, -118.65, -118.66, -118.67,
       -118.68, -118.69, -118.7 , -118.71, -118.72, -118.73, -118.74,
       -118.75, -118.76, -118.77, -118.78, -118.79, -118.8 , -118.81,
       -118.82, -118.83, -118.84, -118.85, -118.86, -118.87, -118.88,
       -118.89, -118.9 , -118.91, -118.92, -118.93, -118.94, -118.95,
       -118.96, -118.97, -118.98, -118.99, -119.  , -119.01, -119.02,
       -119.03, -119.04, -119.05, -119.06, -119.07, -119.08, -119.09,
       -119.1 , -119.11, -119.12, -119.13, -119.14, -119.15, -119.16,
       -119.17, -119.18, -119.19, -119.2 , -119.21, -119.22, -119.23,
       -119.24, -119.25, -119.26, -119.27, -119.28, -119.29, -119.3 ,
       -119.31, -119.32, -119.33, -119.34, -119.35, -119.36, -119.37,
       -119.38, -119.39, -119.4 , -119.41, -119.42, -119.43, -119.44,
       -119.45, -119.46, -119.47, -119.48, -119.49, -119.5 , -119.51,
       -119.52, -119.53, -119.54, -119.55, -119.56, -119.57, -119.58,
       -119.59, -119.6 , -119.61, -119.62, -119.63, -119.64, -119.65,
       -119.66, -119.67, -119.68, -119.69, -119.7 , -119.71, -119.72,
       -119.73, -119.74, -119.75, -119.76, -119.77, -119.78, -119.79,
       -119.8 , -119.81, -119.82, -119.83, -119.84, -119.85, -119.86,
       -119.87, -119.88, -119.89, -119.9 , -119.91, -119.92, -119.93,
       -119.94, -119.95, -119.96, -119.97, -119.98, -119.99, -120.  ,
       -120.01, -120.02, -120.03, -120.04, -120.05, -120.06, -120.07,
       -120.08, -120.09, -120.1 , -120.11, -120.12, -120.13, -120.14,
       -120.15, -120.16, -120.17, -120.18, -120.19, -120.2 , -120.21,
       -120.22, -120.23, -120.24, -120.25, -120.26, -120.27, -120.28,
       -120.29, -120.3 , -120.31, -120.32, -120.33, -120.34, -120.35,
       -120.36, -120.37, -120.38, -120.39, -120.4 , -120.41, -120.42,
       -120.43, -120.44, -120.45, -120.46, -120.47, -120.48, -120.49,
       -120.5 , -120.51, -120.52, -120.53, -120.54, -120.55, -120.56,
       -120.57, -120.58, -120.59, -120.6 , -120.61, -120.62, -120.63,
       -120.64, -120.65, -120.66, -120.67, -120.68, -120.69, -120.7 ,
       -120.71, -120.72, -120.73, -120.74, -120.75, -120.76, -120.77,
       -120.78, -120.79, -120.8 , -120.81, -120.82, -120.83, -120.84,
       -120.85, -120.86, -120.87, -120.88, -120.89, -120.9 , -120.91,
       -120.92, -120.93, -120.94, -120.95, -120.96, -120.97, -120.98,
       -120.99, -121.  , -121.01, -121.02, -121.03, -121.04, -121.05,
       -121.06, -121.07, -121.08, -121.09, -121.1 , -121.11, -121.12,
       -121.13, -121.14, -121.15, -121.16, -121.17, -121.18, -121.19,
       -121.2 , -121.21, -121.22, -121.23, -121.24, -121.25, -121.26,
       -121.27, -121.28, -121.29, -121.3 , -121.31, -121.32, -121.33,
       -121.34, -121.35, -121.36, -121.37, -121.38, -121.39, -121.4 ,
       -121.41, -121.42, -121.43, -121.44, -121.45, -121.46, -121.47,
       -121.48, -121.49, -121.5 , -121.51, -121.52, -121.53, -121.54,
       -121.55, -121.56, -121.57, -121.58, -121.59, -121.6 , -121.61,
       -121.62, -121.63, -121.64, -121.65, -121.66, -121.67, -121.68,
       -121.69, -121.7 , -121.71, -121.72, -121.73, -121.74, -121.75,
       -121.76, -121.77, -121.78, -121.79, -121.8 , -121.81, -121.82,
       -121.83, -121.84, -121.85, -121.86, -121.87, -121.88, -121.89,
       -121.9 , -121.91, -121.92, -121.93, -121.94, -121.95, -121.96,
       -121.97, -121.98, -121.99, -122.  , -122.01, -122.02, -122.03,
       -122.04, -122.05, -122.06, -122.07, -122.08, -122.09, -122.1 ,
       -122.11, -122.12, -122.13, -122.14, -122.15, -122.16, -122.17,
       -122.18, -122.19, -122.2 , -122.21, -122.22, -122.23, -122.24,
       -122.25, -122.26, -122.27, -122.28, -122.29, -122.3 , -122.31,
       -122.32, -122.33, -122.34, -122.35, -122.36, -122.37, -122.38,
       -122.39, -122.4 , -122.41, -122.42, -122.43, -122.44, -122.45,
       -122.46, -122.47, -122.48, -122.49, -122.5 , -122.51, -122.52,
       -122.53, -122.54, -122.55, -122.56, -122.57, -122.58, -122.59,
       -122.6 , -122.61, -122.62, -122.63, -122.64, -122.65, -122.66,
       -122.67, -122.68, -122.69, -122.7 , -122.71, -122.72, -122.73,
       -122.74, -122.75, -122.76, -122.77, -122.78, -122.79, -122.8 ,
       -122.81, -122.82, -122.83, -122.84, -122.85, -122.86, -122.87,
       -122.88, -122.89, -122.9 , -122.91, -122.92, -122.93, -122.94,
       -122.95, -122.96, -122.97, -122.98, -122.99, -123.  , -123.01,
       -123.02, -123.03, -123.04, -123.07, -123.08, -123.1 , -123.11,
       -123.12, -123.13, -123.15, -123.16, -123.17, -123.18, -123.19,
       -123.2 , -123.21, -123.22, -123.23, -123.24, -123.25, -123.26,
       -123.32, -123.34, -123.35, -123.36, -123.37, -123.38, -123.4 ,
       -123.41, -123.43, -123.48, -123.49, -123.53, -123.54, -123.58,
       -123.59, -123.63, -123.64, -123.66, -123.68, -123.69, -123.7 ,
       -123.71, -123.72, -123.73, -123.75, -123.76, -123.78, -123.79,
       -123.8 , -123.81, -123.82, -123.83, -123.84, -123.85, -123.88,
       -123.91, -123.96, -123.98, -124.  , -124.01, -124.02, -124.03,
       -124.05, -124.06, -124.07, -124.08, -124.09, -124.1 , -124.11,
       -124.13, -124.14, -124.15, -124.16, -124.17, -124.18, -124.19,
       -124.21, -124.22, -124.23, -124.25, -124.26, -124.27, -124.3 ,
       -124.35])

In [ ]:
# Sabendo os valores unicos pode listar todas as linhas que tem o mesmo valor de longitude, com pode ser usada para lista continentes, paises ou estados
# A função '.loc' ser para fazer filtros na base de dados
longitude = df.loc[df['Longitude'] == -114.57]  # criando dicionario com os valores unicios de longitued
longitude.head()  # como ja vimos para exibir o resulado

,Longitude,Latitude,Idade Média,Total de salas,Total de quartos,População,Famílias,Renda Média,Renda média da família
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
# Fazer agrupamento de dados, o 'nunique' tras total de casas que tem a mesma Longitude, 
# podendo ser no lugar de Longitude um continente, pais ou estado
df.groupby('Longitude')['Latitude'].nunique()

Longitude
-124.35    1
-124.30    2
-124.27    1
-124.26    1
-124.25    1
          ..
-114.58    2
-114.57    2
-114.56    1
-114.47    1
-114.31    1
Name: Latitude, Length: 827, dtype: int64

In [ ]:
# Me tras um dicionario com as Latitude das casas
df.groupby('Longitude')['Latitude'].unique()

Longitude
-124.35           [40.54]
-124.30     [41.84, 41.8]
-124.27           [40.69]
-124.26           [40.58]
-124.25           [40.28]
                ...
-114.58    [33.63, 33.61]
-114.57    [33.64, 33.57]
-114.56           [33.69]
-114.47            [34.4]
-114.31           [34.19]
Name: Latitude, Length: 827, dtype: object

In [ ]:
df.head()

,Longitude,Latitude,Idade Média,Total de salas,Total de quartos,População,Famílias,Renda Média,Renda média da família
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
# Renda média por ideade
df.groupby('Idade Média')['Renda Média'].mean()

Idade Média
1.0     4.756800
2.0     5.074237
3.0     5.572013
4.0     5.196055
5.0     4.732460
6.0     4.463901
7.0     4.368441
8.0     4.412988
9.0     4.357513
10.0    4.126004
11.0    4.029663
12.0    4.003208
13.0    4.145092
14.0    4.148454
15.0    4.003953
16.0    4.288458
17.0    3.929201
18.0    3.954591
19.0    3.833244
20.0    3.749984
21.0    3.870417
22.0    3.941335
23.0    3.963371
24.0    3.921026
25.0    4.135890
26.0    4.071895
27.0    3.859375
28.0    3.813176
29.0    3.633556
30.0    3.580732
31.0    3.619995
32.0    3.800399
33.0    3.862161
34.0    3.959488
35.0    3.909391
36.0    3.973530
37.0    3.684131
38.0    3.463225
39.0    3.395865
40.0    3.432734
41.0    3.149125
42.0    3.447088
43.0    3.238897
44.0    3.507043
45.0    3.739467
46.0    3.357832
47.0    3.278638
48.0    3.526261
49.0    3.547657
50.0    3.472372
51.0    3.670503
52.0    3.943037
Name: Renda Média, dtype: float64

In [ ]:
df['Idade Média'].mean()

28.58935294117647

In [ ]:
df['Total de quartos'].sum()

9169984.0

In [ ]:
df['População'].sum()

24302757.0

In [ ]:
df.dtypes

Longitude                 float64
Latitude                  float64
Idade Média               float64
Total de salas            float64
Total de quartos          float64
População                 float64
Famílias                  float64
Renda Média               float64
Renda média da família    float64
dtype: object

In [ ]:
# Mudar o tipo de dado de uma coluna
df['Idade Média'] = df['Idade Média'].astype('int')
df['Total de quartos'] = df['Total de quartos'].astype('int')
df['Total de salas'] = df['Total de salas'].astype('int')
df['População'] = df['População'].astype('int')

In [ ]:
df.dtypes

Longitude                 float64
Latitude                  float64
Idade Média                 int64
Total de salas              int64
Total de quartos            int64
População                   int64
Famílias                  float64
Renda Média               float64
Renda média da família    float64
dtype: object

In [ ]:
df.head()

,Longitude,Latitude,Idade Média,Total de salas,Total de quartos,População,Famílias,Renda Média,Renda média da família
0,-114.31,34.19,15,5612,1283,1015,472.0,1.4936,66900.0
1,-114.47,34.40,19,7650,1901,1129,463.0,1.8200,80100.0
2,-114.56,33.69,17,720,174,333,117.0,1.6509,85700.0
3,-114.57,33.64,14,1501,337,515,226.0,3.1917,73400.0
4,-114.57,33.57,20,1454,326,624,262.0,1.9250,65500.0

In [ ]:
# Verificar se exites valores nulos na nossa base de dados
df.isnull().sum()

Longitude                 0
Latitude                  0
Idade Média               0
Total de salas            0
Total de quartos          0
População                 0
Famílias                  0
Renda Média               0
Renda média da família    0
dtype: int64

In [ ]:
# Subistituir valores nulos na tabela
# 'inplace=True' = vai alterar as informações somente em memoria
df['nome_da_coluna_com_valores_nulos'].fillna('valor_a_ser_usado', inplace=True)
df['nome_da_coluna_com_valores_nulos'].fillna(df['Idade Média'].mean(), inplace=True)  # Pode se usar uma media da propria base de dados
df['nome_da_coluna_com_valores_nulos'].fillna(0, inplace=True)  # ou simplesmente o zero '0' 

# Apagar a linha inteira para não computar dados incompletos
df.dropna(inplace=True)

# Apagar as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=['nome_da_coluna'], inplace=True)

# Apaga linhas que estejam com valores faltando em todas as colunas
df.dropna(how='all', inplace=True)

In [ ]:
# Criar novas colunas
# neste exemplo estamos pegando duas colunas um de vendas e outra de quantidade e multiplicando '.mul()' os valores
df['nome_da_nova_colua_receita'] = df['vendas_coluna_exemplo'].mul(df['quantidade_vendas_coluna_exemplo'])
# exemplo inverso
df['nome_da_nova_coluna_receita_vendas'] = df['receita_exemplo'] / df['vendas_exemplo']

# Exibir o maior valor de uma coluna
df['Receita'].max()
# Exibir o menor valor de uma coluna
df['Receita'].min()

# nlargest()
# este comando pode listar as maiores receita trazendo todas a informoções da linha encontrado
df.nlargest(3, 'Recieita')  # Este exemplo traz as 3 maiores da coluna Receita

# nsamllest
# este comando pode listar as menores receita trazendo todas a informoções da linha encontrado
df.nlargest(3, 'Recieita')  # Este exemplo traz as 3 menores da coluna Receita

In [ ]:
# Agrupar por cidade
df.groupby('Cidade')['Receita'].sum()

# Ordenar o conjunto de dados
df.sort_values('Receita', ascendig=False).head(10)
# Esse comando vai trazer as 10 maiores da coluna Receita
# 'ascedig=False' comando para ordenar do maior para o menor