In [1]:
# Importar o Pandas como pd
import pandas as pd

In [2]:
# df1 = pd.read_excel('Aracaju.xlsx', sheet_name=0)  # O 'sheet_name=0' server para ler aba expecifica dentro do documeto em caso de ter varias. 
# Não esqueça de ver outras opções pois possui varias.
df1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CSV_Unimed/Aracaju.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CSV_Unimed/Fortaleza.xlsx')
df3 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CSV_Unimed/Natal.xlsx')
df4 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CSV_Unimed/Recife.xlsx')
df5 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CSV_Unimed/Salvador.xlsx')

In [3]:
# Concatenar as planilhas, lembre que elas devem ser iguais
df = pd.concat([df1, df2, df3, df4, df5])

In [4]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [6]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [10]:
# Exibir valores por amostragem/aleatorio
df.sample(5) # 5 tras linhas aleatorias pode ser o valor que quiser

        Cidade       Data  Vendas  LojaID  Qtde
79     Aracaju 2018-01-01    5.59    1521     4
161   Salvador 2019-01-02    5.80    1036     1
227      Natal 2019-01-02   14.70    1035     1
183      Natal 2019-01-02  120.23    1037     2
99   Fortaleza 2019-01-01    9.01    1002     3

In [12]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [13]:
# Alerando o tipo de dado da coluna LojaID
df['LojaID'] = df['LojaID'].astype('object')

In [14]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [15]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

In [ ]:
# Consultando linhas com valores faltantes
df.isnull().sum()

In [21]:
# Substituindo os valores nulos pela média
df['Vendas'].fillna(df['Vendas'].mean(), inplace=True)
# Substituindo os valores nulos por 0 (zero)
df['Vendas'].fillna(0, inplace=True)

In [22]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
df.sample(15)

In [26]:
# Apagar as linhas com valores nulos
df.dropna(inplace=True)

In [27]:
# Apagando as linhas com base apenas em uma coluna
df.dropna(subset=['Vendas'], inplace=True)

In [28]:
# Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how='all', inplace=True)

In [29]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

In [30]:
# Criando uma coluna de Receita
df['Receita'] = df['Vendas'].mul(df['Qtde'])
# Criando um coluna de forama inversa
# df['Receita/Vendas'] = df['Receita'] / df['Vendas']

In [31]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [33]:

df['Receita'].max()

3544.0

In [42]:
# nlargest
# Retornar a maior Receita com toda a linha (TOP 3)
df.nlargest(3, 'Receita')

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0

In [34]:
# Retornar a menor Receita
df['Receita'].min()

3.34

In [36]:
# nsmallest
# Retornar a menor Receita com toda a linha (TOP 3)
df.nsmallest(3, 'Receita')

      Cidade       Data  Vendas LojaID  Qtde  Receita
118  Aracaju 2018-01-01    3.34   1522     1     3.34
65    Recife 2019-01-01    4.01    981     1     4.01
92     Natal 2019-01-02    4.57   1035     1     4.57

In [43]:
# Agrupar por cidade
df.groupby('Cidade')['Receita'].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [44]:
# Ordenar o conjunto de dados
df.sort_values('Receita', ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
55  Natal 2019-01-08   859.0    854     4   3436.0
51  Natal 2018-01-21   859.0    852     4   3436.0
30  Natal 2018-10-02   856.0    853     4   3424.0
41  Natal 2018-05-20   835.0    852     4   3340.0
38  Natal 2018-02-25   828.0    852     4   3312.0
10  Natal 2018-10-27   828.0    852     4   3312.0
69  Natal 2019-03-24   817.0    852     4   3268.0
62  Natal 2018-02-10   793.0    854     4   3172.0
52  Natal 2018-04-27   778.0    854     4   3112.0